<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
      <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="totalTime" value=""/>
    <add key="SourceDBConnectionString" value="" />
    <add key="MiniDBConnectionString" value=""/>
    <add key="DBEngine" value=""/>
    <add key="CatalogAddress" value=""/>
    <add key="PackagesFromCollector" value=""/>
    <add key="MiniDBCreateDatabaseAndTables" value=""/>
    <add key="ComparisonTime" value=""/>
    <add key="PopulateDBTime" value=""/>
    <add key="JsonReport" value=""/>
    <add key="BoolWriteCatalog" value=""/>
    <add key="BoolCreateMiniDB" value=""/>
    <add key="BoolPopulateMiniDB" value=""/>
    <add key="BoolCompare" value=""/>            
  </appSettings>
</configuration>